<header>
  <h1>Pets Owned By <%= @customer.name %></h1>
  <ul class="actions">
    <li><%= link_to "New Pet", new_customer_pet_path(@customer), class: "new" %></li>
  </ul>
</header>

<div class="pet">
  <% @customer.pets.each do |pet| %>
    <h3><%= link_to pet.name, customer_pet_path(@customer, pet) %></h3>
    <h4>Notes</h4>
    <p>
      <%= pet.notes %>
    </p>
    <table>
      <tr>
        <th>Animal:</th>
        <td><%= pet.animal %></td>
      </tr>
      <tr>
        <th>Vaccinated:</th>
        <td><%= pet.vaccinated.to_s.capitalize %></td>
      </tr>
      <tr>
        <th>Status:</th>
        <td><%= pet.status %></td>
      </tr>
    </table>
  <% end %>
</div>
