<div class="pet">
  <header>
    <h1><%= @customer.name %></h1>
  </header>

  <header>
    <h2><%= @pet.name %></h2>
  </header>

  <ul class="list">
  <li>Type of animal: <%= @pet.animal %></li>
  <li>Vaccination status: <%= @pet.vaccinated.to_s.capitalize %></li>
  <li>Status: <%= @pet.status %></li>
</div>
