<h1><%= @customer.name %> - Bookings</h1>
<%= link_to "New Booking", new_customer_booking_path(@customer) %>

<div class="booking">
  <% @customer.bookings.each do |booking| %>
    <h2><%= link_to booking.drop_off, customer_booking_path(@customer, booking) %></h2>
    <p><%= booking.drop_off %></p>
    <p><%= booking.pick_up %></p>
    <p><%= booking.notes %></p>
  <% end %>
</div>
