<h1>New Booking</h1>
  <%= form_with(model: @booking, local:true) do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    
    <div>
      <%= form.label :drop_off %>
      <%= form.date_field :drop_off %>
    </div>
    
    <div>
      <%= form.label :pick_up %>
      <%= form.date_field :pick_up %>
    </div>
    
    <%= form.submit %>
  <% end %>
    