<%= title @booking.drop_off, "Bookings" %>
<header>
  <h1>Booking for <%= @customer.name %> on <%= @booking.drop_off %></h1>
  <ul class="actions">
    <li><%= link_to "Edit Booking", edit_customer_booking_path(@customer, @booking), class: "edit" %></li>
    <li><%= link_to "Delete Booking", customer_booking_path(@customer, @booking),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete this booking?" },
                    class: "delete" %></li>
  </ul>
</header>
<table class="attributes">
  <tr>
    <th>Taken by:</th>
    <td><%= @booking.author.email %></td>
    
  </tr>
  <tr>
    <th>Created:</th>
    <td><%= time_ago_in_words(@booking.created_at) %> ago</td>
  </tr>
</table>
<div class="booking">
  <h4>Notes</h4>
  <p>
    <%= @booking.notes %>
  </p>
  <table>
    <tr>
      <th>Drop Off:</th>
      <td><%= @booking.drop_off %></td>
    </tr>
    <tr>
      <th>Pick Up:</th>
      <td><%= @booking.pick_up %></td>
    </tr>
      <tr>
        <th>Days:</th>
        <td><%= @booking.days %></td>
      </tr>
  </table>
</div>