<header>
  <h1>Customers</h1>

  <ul class="actions">
    <li><%= link_to "New Customer", new_customer_path, class: "new" %></li>
  </ul>
</header>


<div class="customer">
  <% @customers.each do |customer| %>
    <h3><%= link_to customer.name, customer %></h3>
    <table>
      <tr>
        <th>Bookings:</th>
        <td><%= link_to customer.bookings.count, customer_bookings_path(customer) %></td>
      </tr>
      <tr>
        <th>Pets:</th>
        <td><%= link_to customer.pets.count, customer_pets_path(customer) %></td>
      </tr>
      <tr>
        <th>Phone:</th>
        <td><%= customer.phone %></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= mail_to customer.email, customer.email, subject: "Katie's Bunny Boarding: " %></td>
      </tr>
      <tr>
        <th>Notes:</th>
        <td><%= customer.notes %></td>
      </tr>
      <tr>
        <th>Vet Details:</th>
        <td><%= customer.vet_details %></td>
      </tr>
    </table>
  <% end %>
</div>