<%= title @customer.name, "Customers" %>
<h1><%= @customer.name %></h1>
<%= link_to "Edit Customer", edit_customer_path(@customer) %>
<%= link_to "Delete Customer", customer_path(@customer),
            method: :delete,
            data: { confirm: "Are you sure you want to delete this customer?" } %>
<p><%= @customer.phone %></p>
<p><%= @customer.email %></p>
<p><%= @customer.notes %></p>
<p><%= @customer.vet_details %></p>

<header>
  <h2>Pets</h2>

  <ul class="actions">
    <li><%= link_to "New Pet", new_customer_pet_path(@customer) %></li>
  </ul>
</header>

<ul class="pets">
  <% @customer.pets.each do |pet| %>
    <li>
      #<%= pet.id %> -
      <%= link_to pet.name, [@customer, pet] %>
    </li>
  <% end %>
</ul>

<header>
  <h2>Bookings</h2>
  <ul class="actions">
    <li><%= link_to "New Booking", new_customer_booking_path(@customer) %></li>
  </ul>
</header>

<ul class="bookings">
  <% @customer.bookings.each do |booking| %>
    <li>
      <%= link_to booking.drop_off, [@customer, booking] %> until <%= booking.pick_up %>
      <br><i><%= booking.notes  %></i>
    </li>
  <% end %>
</ul>

